link(rel='stylesheet', href='stylesheets/error.css')
center
  .container
    #error-box
      .dot
      .dot.two
      .face2
        .eye
        .eye.right
        .mouth.sad
      .shadow.move
      .message
        h1.alert Error!
        p oh no, something went wrong.
      button.button-box
        h1.red try again